.chat {
    width: 80%;
    margin: 50px auto;
    height: 600px;
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: scroll;
}

.message {
    padding: 10px;
    border-radius: 15px;
    background-color: #9a9aff;
    color: white;
    display: inline;
    margin: 10px 0;
}

.user-0 {
    align-self: flex-end;
    background-color: #cc00cc;
}

.user-1 {
    align-self: flex-start;
}